<a href="https://colab.research.google.com/github/JamilaBibi/IBP-assignment-2/blob/main/Development_report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Downloading Enron Email Data

In [ ]:
#using the wget! command to download the enron.db file
#Set the output file as enron.db
#using the URL of the enron.db

# Establish connection to the SQlite database

In [ ]:
#import sqlite3 module to connect with SQlite database

In [ ]:
#Create a connection between enron.db and the SQlite module using sqlite.connect() function
#Save the above connection in the variable "conn"

In [ ]:
# Create a cursor function for executing SQL queries on the database
#Create a cursor function using the `conn.cursor()` method
#Save the cursor function in the variable "cur"

# Check Schema of database

In [ ]:
#Write an SQL query to retrive data from the enron.db database
##"SELECT name FROM sqlite_master WHERE type='table';"
#Execute the SQL query using a cursor function 'cur' 
#fetch all the results using cur.fetchall() method

# Check Schema of tables

In [ ]:
#Write an SQL query using the SQlite PRAGMA command
#Insert table name "employeelist"/ "message"/ "recipientinfo"/"referenceinfo" into the PRAGMA command
#Execute the SQL query using a cursor function 'cur'.
#Fetch all the results using cur.fetchall() method.

# Email Traffic Overtime

Import Libraries:

In [ ]:
#import pandas library to read SQL queries and convert to dataframe
#represent pandas pandas as 'pd' as an alias

In [ ]:
#import seaborn library for more informative statistical visualisation/graphics
#represent seaborn as 'sns' as an alias

In [ ]:
#Import the `matplotlib.pyplot` module to generate visualisation
#give an alias 'plt' to the `matplotlib.pyplot` module

Check whether the data column in Message contain null values

In [ ]:
#write an sql query which include the selection of 'date' column from 'message' table and store it in variable sql

convert to dataframe

In [ ]:
#import pandas library to read sql query
#use the function 'read_sql_query()' from the pandas module
#as parameters, make use of SQL query's variable 'sql' and the variable 'conn' which makes database connection 
#save the 'read_sql_query()' function and its parameters to the variable 'message_df'
#show the contents of the Dataframe 'message_df'

Counting number of emails per day

In [ ]:
#write an sql query with the variable 'sql'
#Use and select the 'strftime()' method to format date in a readable way
#Format the date values in '%Y-%m-%d' which represent the year, month and day
#Take the 'date' column from the 'message' table in enron.db
#use the 'count(*)' function to count all the rows in 'message' table and  
#Group the count values by 'date'

In [ ]:
### convert to dataframe:
#use the panda library to read the above sql query and convert into dataframe
#use the function 'read_sql_query()' from the panda module
#as parameters, make use of SQL query's variable 'sql' and the variable 'conn' which makes database connection
#save the 'read_sql_query()' function and its parameters to the variable 'messageperday_df'
#show the contents of the Dataframe 'messageperday_df'

In [ ]:
### Plot line for email per day:
#Use of 'plt.subplot()' function from matplotlib library whcih help to create figure and plot its axis
#set the figure size (20,5) and save it as variable 'fig'
#use seaborn library to create the line plot
#use the function 'lineplot()' from the seaborn library
#as parameters set 'x=date' and 'y=count'
#use the variable 'messageperday_df' as data source
#show the line plot by using the function 'show()' from the matplotlib library

Counting number of emails per week

In [ ]:
#write an sql query with the variable 'sql'
#Use and select the 'strftime()' method to format date in a readable way
#Format the date values in '%Y-%m-%w' which represent the year, month and week
#Take the 'date' column from the 'message' table in enron.db
#use the 'count(*)' function to count all the rows in 'message' table and  
#Group the count values by 'date'

In [ ]:
### convert to dataframe:
#use the panda library to read the above sql query and convert into dataframe
#use the function 'read_sql_query()' from the panda module
#as parameters, make use of SQL query's variable 'sql' and the variable 'conn' which makes database connection
#save the 'read_sql_query()' function and its parameters to the variable 'messageperweek_df'
#show the contents of the Dataframe 'messageperweek_df'

In [ ]:
### Plot line for email per week:
#Use of 'plt.subplot()' function from matplotlib library which help to create figure and plot its axis
#set the figure size (20,5) and save it as variable 'fig'
#use seaborn library to create the line plot
#use the function 'lineplot()' from the seaborn library
#as parameters set 'x=date' and 'y=count'
#use the variable 'messageperweek_df' as data source
#show the line plot by using the function 'show()' from the matplotlib library

Counting number of emails per month

In [ ]:
#write an sql query with the variable 'sql'
#Use and select the 'strftime()' method to format date in a readable way
#Format the date values in '%Y-%m' which represent the year, month
#Take the 'date' column from the 'message' table in enron.db
#use the 'count(*)' function to count all the rows in 'message' table and  
#Group the count values by 'date'

In [ ]:
### convert to dataframe:
#use the panda library to read the above sql query and convert into dataframe
#use the function 'read_sql_query()' from the panda module
#as parameters, make use of SQL query's variable 'sql' and the variable 'conn' which makes database connection
#save the 'read_sql_query()' function and its parameters to the variable 'messagepermonth_df'
#show the contents of the Dataframe 'messagepermonth_df'

In [ ]:
### Plot line for email per month:
#Use of 'plt.subplot()' function from matplotlib library which help to create figure and plot its axis
#set the figure size (20,5) and save it as variable 'fig'
#use seaborn library to create the line plot
#use the function 'lineplot()' from the seaborn library
#as parameters set 'x=date' and 'y=count'
#use the variable 'messagepermonth_df' as data source
#show the line plot by using the function 'show()' from the matplotlib library

# Top senders and recipients

Top sender

In [ ]:
#write an sql query with the variable 'sql_sender'
#Select sender column from message table
#use the 'count(*)' function to count all the rows in 'message' table 
#Group the count values by 'sender'
#Order by count column
#Sort the results in descending order
#Limit the number of rows, example: LIMIT 15

In [ ]:
### convert to dataframe:
#use the panda library to read the above sql query and convert into dataframe
#use the function 'read_sql_query()' from the panda module
#as parameters, make use of SQL query's variable 'sql_sender' and the variable 'conn' which makes database connection
#save the 'read_sql_query()' function and its parameters to the variable 'top_sendr_df'
#show the contents of the Dataframe 'top_sendr_df'

In [ ]:
##barplot
#using seaborn and matplotlib to perform visualisation of data
#Save the dataframe name 'top_sendr_df' to variable 'data'
#use the 'barplot()' function from the seaborn library
#set parameter as 'x="count"' and 'y="sender"'
#Use variable 'data' as data source
#show the bar plot using 'show()' function from the matplotlib library

In [ ]:
Top recipient

In [ ]:
#write an sql query with the variable 'sql_recipt'
#Select rvalue column from recipientinfo table
#use the 'count(*)' function to count all the rows in 'recipientinfo' table 
#Group the count values by 'rvalue'
#Order by count column
#Sort the results in descending order
#Limit the number of rows, example: LIMIT 15

In [ ]:
### convert to dataframe:
#use the panda library to read the above sql query and convert into dataframe
#use the function 'read_sql_query()' from the panda module
#as parameters, make use of SQL query's variable 'sql_recipt' and the variable 'conn' which makes database connection
#save the 'read_sql_query()' function and its parameters to the variable 'top_recipt_df'
#show the contents of the Dataframe 'top_recipt_df'

In [ ]:
##barplot
#using seaborn and matplotlib to perform visualisation of data
#Save the dataframe name 'top_recipt_df' to variable 'data'
#use the 'barplot()' function from the seaborn library
#set parameter as 'x="count"' and 'y="rvalue"'
#Use variable 'data' as data source
#show the bar plot using 'show()' function from the matplotlib library

# Email Distribution by Recipient Type

In [ ]:
#write an sql query with the variable 'sql_recipients_type'
#Select rtype column from recipientinfo table
#use the 'count(*)' function to count all the rows in 'recipientinfo' table 
#Group the count values by 'rtype'
#Order by rtype

In [ ]:
### convert to dataframe:
#use the panda library to read the above sql query and convert into dataframe
#use the function 'read_sql_query()' from the panda module
#as parameters, make use of SQL query's variable 'sql_recipients_type' and the variable 'conn' which makes database connection
#save the 'read_sql_query()' function and its parameters to the variable 'recipt_type_df'
#show the contents of the Dataframe 'recipt_type_df'

In [ ]:
##pie chart
#Use variable 'labels' and assign 'rtype' column from dataframe 'recipt_type_df' as values
#Use variable 'values' and assign 'count' column from dataframe 'recipt_type_df' as values
#Use matplotlib library to create the pie chart
#use the function 'pie()' from the matplotlib library
#set parameters to 'values', 'labels=labels', and 'autopct='%1.1f%%' - to print the values as percentages
#Make use of 'title()' function from the matplotlib library and set the title as 'Email Distribution by Recipient Type'
#show the piechart by using the function show() form the matplotlib library

#**Testing**

When writing the script codes and test them, various coding errors occured. Below are some errors that occured:



*   Syntax error- This occured when the codes which were written does not follow the proper syntax rules. Example, there were missing brackets, commas in some places which as a result, the codes were not run successfully and a syntax error occured.

    Resolving the syntax error- 
1. read the syntax error message
2. Identify the line message mentioned in the erro message
3. Check for missing characters
4. Run code after correction   




* Name error- It is where variable that were input were not defined. This might occured for several reasons. In my case, variables that were used were mispelled and thus the variable could not be recognised by python.

    Resolving the Name error-
1. Check for typos errors
2. Correct the variable
3. Run code after correction

* Type Error- It is when calling a function that accept keyword arguments in the parameters and wrong parameters are used. Consequently, type error occured where 'kwargs' function were required.

    Resolving Type Error-
1. Pass the parameters that require 'kwargs' correctly
2. Re-run the codes